:root {
  color-scheme: light;
  --background: url('https://png.pngtree.com/background/20231231/original/pngtree-lush-green-grass-texture-a-natural-high-resolution-background-in-3d-picture-image_7042067.jpg');
}

:root.dark {
  color-scheme: dark;
  --background: url('https://img.freepik.com/foto-gratis/tierra-textura-roca_1339-4254.jpg');
}

@media (max-width: 480px) {
  .face {
    width: 150px;
    height: 165px;
  }
  .eye {
    width: 18px;
    height: 60px;
  }
  .nose {
    width: 70px;
    height: 30px;
  }
  .dirt {
    width: 240px;
    height: 220px;
    margin-top: -180px;
  }
  .pokeball {
    margin-top: 30px;
  }
  .Pokeball_top,
  .Pokeball_top ~ .Pokeball_bottom {
    width: 150px;
    height: 75px;
  }
}



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: var(--background);
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat; 

}

.face {
  width: 200px;
  height: 220px;
  background-color: light-dark(saddlebrown, skyblue);
  border: 5px solid black;
  border-radius: 40% 43% 47% 52% / 71% 73% 0% 0%;

  display: flex;
  flex-direction: column;      
  justify-content: center;      
  align-items: center;          
  gap: 20px;
  position: relative; 
  z-index: 0;
}


.face > .eyes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.eyes .eye {
  width: 25px;
  height: 80px;
  background-color: light-dark(black, rgba(30, 28, 40, 0.515));
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3px;
  box-sizing: border-box;
}

.eyes .eye::before {
  content: '';
  width: 10px;
  height: 34px;
  background-color: light-dark(white, gray);
  border-radius: 50%;
  opacity: 0.8;
}

.eyes .eye:first-child {
  justify-content: flex-end;
}

.eyes .eye:last-child {
  justify-content: flex-start
}

.nose {
  width: 95px;
  height: 40px;
  background-color: light-dark(hotpink, blue);
  border: 5px solid black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  align-self: center;    
  cursor: pointer;      
}

.dirt {
  width: 325px;
  height: 300px;
  background-color: black;
  clip-path: polygon(
    73% 95%, 9% 91%, 0% 86%, 1% 82%, 2% 77%, 3% 74%, 4% 70%, 7% 67%, 10% 64%, 14% 63%, 17% 66%, 20% 67%, 21% 71%, 26% 72%, 
    29% 74%, 30% 77%, 36% 78%, 40% 75%, 45% 76%, 49% 77%, 52% 80%, 56% 77%, 61% 76%, 65% 75%, 69% 76%, 73% 78%, 75% 75%, 
    79% 73%, 80% 69%, 81% 65%, 86% 67%, 91% 69%, 95% 72%, 97% 77%, 100% 84%, 95% 87%, 91% 91%, 85% 91%, 79% 95%
    );
  margin-top: -250px;   
  position: relative;   
  z-index: 1;  
}

.dirt::before {
  content: '';
  position: absolute;
  width: 325px;
  height: 300px;
  background-color: light-dark(gray, lightgray);
  clip-path: polygon(
    73% 95%, 9% 91%, 0% 86%, 1% 82%, 2% 77%, 3% 74%, 4% 70%, 7% 67%, 10% 64%, 14% 63%, 17% 66%, 20% 67%, 21% 71%, 26% 72%, 
    29% 74%, 30% 77%, 36% 78%, 40% 75%, 45% 76%, 49% 77%, 52% 80%, 56% 77%, 61% 76%, 65% 75%, 69% 76%, 73% 78%, 75% 75%, 
    79% 73%, 80% 69%, 81% 65%, 86% 67%, 91% 69%, 95% 72%, 97% 77%, 100% 84%, 95% 87%, 91% 91%, 85% 91%, 79% 95%
  );
  transform: scale(0.95);   
}

.pokeball {
  position: relative;  
  margin-top: 50px;    
}

.Pokeball_top {
  width: 200px;
  height: 100px;
  background-color: light-dark(red, blue);
  border-radius: 100px 100px 0 0;
  border: 5px solid black;
  order: 1;
}

.Pokeball_top + .Pokeball_button {
  width: 50px;
  height: 50px;
  background-color: light-dark(white, gray);
  border-radius: 50%;
  border: 5px solid black;
  order: 2;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Pokeball_top ~ .Pokeball_bottom {
  width: 200px;
  height: 100px;
  background-color: light-dark(white, gray);
  border-radius: 0 0 100px 100px;
  border: 5px solid black;
  order: 3;
}